.inicio-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1206F5;
  padding: 0 16px;
  text-align: center;
}

.inicio-titulo {
  font-size: 3rem;
  color: #E0F7FA;
  margin-bottom: 0.5rem;
}

.inicio-subtitulo {
  font-size: 1.25rem;
  color: #ffff;
  margin-bottom: 1.5rem;
}

.inicio-boton {
  background-color: #ffff;
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.inicio-boton:hover {
  background-color: #1206F5;
  color: white;
}
