.pagina-paciente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  text-align: center;
}

.pagina-paciente h2 {
  font-size: 2rem;
  color: #1206F5;
  margin-bottom: 1rem;
}

.pagina-paciente p {
  font-size: 1.2rem;
  color: #333;
}
